.fade-text-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter-black);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.about-me-container {
  margin-bottom: 50px;
}

.about-me-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.about-me-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.about-me-img-container {
  flex: 1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.about-me-img-container img {
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-me-title {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .about-me-item {
    margin-top: 10px;
    flex-direction: column;
  }

  .fade-text-container {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: space-between;
  }

  .about-me-title {
    font-size: 22px;
  }

  .about-me-img-container img {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
