* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: "black";
}

.app {
  margin: 0;
  padding: 0;
  bottom: 0;
}

.inside-particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 650px) {
  .inside-particles-container {
    margin-top: 60px;
  }
}
